---
title: "Anliegen abgeschlossen"
preheader: "Wir haben Ihr Anliegen bearbeitet"
---

<x-main>
	<x-container>
		<x-header />
		<x-content>
			<x-title>Anliegen abgeschlossen</x-title>

			<x-p>Guten Tag</x-p>
			<x-p>Wir haben Ihr Anliegen mit der Referenz <x-link link="#">Mustername</x-link> und dem
				Betreff <x-link link="#">Musterbetreff</x-link> bearbeitet
				und geschlossen. Für weitere Fragen in dieser Angelegenheit, geben Sie bitte die
				Referenznummer an. Wir möchten uns ständig verbessern. Helfen Sie uns dabei, indem Sie Ihr
				Feedback mit uns teilen:</x-p>

			<x-button href="#">
				Zur Umfrage
			</x-button>

			<x-p>
				Freundliche Grüsse<br>
				Pronovo AG
			</x-p>
		</x-content>
		<x-keyvisual imgsrc="images/pronovo-keyvisual-2.jpg" />
		<x-footer />
	</x-container>
</x-main>