---
title: "Anliegen abgeschlossen"
preheader: "Wir haben Ihr Anliegen bearbeitet"
---

<x-main>
	<x-container>
		<x-header />
		<x-content>

			<x-title>Anliegen abgeschlossen</x-title>

			<x-p>
				Guten Tag
			</x-p>

			<x-p>
				Wir haben Ihr Anliegen mit der Referenz <x-link link="#">Mustername</x-link> und dem Betreff <x-link
				link="#">Musterbetreff</x-link> bearbeitet und geschlossen.
			</x-p>

			<x-divider space-y="32px" />

			<x-p>
				Für weitere Fragen in dieser Angelegenheit, geben Sie bitte die Referenznummer an. Wir möchten uns
				ständig verbessern. Helfen Sie uns dabei, indem Sie Ihr Feedback mit uns teilen:
			</x-p>

			<x-button href="#">
				Zur Umfrage
			</x-button>

			<x-button href="#" type="secondary">
				Zweiter button
			</x-button>

			<x-divider space-y="32px" />

			<x-p>
				Der/die verantwortliche Netzbetreiber*in Musterfirma wurde gleichzeitig per Mail gebeten, die
				notwendigen Daten (Messpunkte, etc.) zu ergänzen, damit die Beglaubigung Ihrerseits erfolgen kann.
			</x-p>

			<x-list>
				<x-listitem>Listeneintrag 1</x-listitem>
				<x-listitem>Listeneintrag 2</x-listitem>
				<x-listitem>Listeneintrag 3 mit <x-link link="#">Dokument</x-link></x-listitem>
				<x-listitem>Listeneintrag 4</x-listitem>
			</x-list>

			<x-p>
				Freundliche Grüsse<br>
				Pronovo AG
			</x-p>

		</x-content>
		<x-keyvisual imgsrc="images/pronovo-keyvisual-2.png" />
		<x-footer  type="manageable"/>
	</x-container>
</x-main>