---
title: "Cancellation completed"
preheader: "A cancellation was completed in the Pronovo SGS system."
---

<x-main>
	<x-container>
		<x-header />
		<x-content>

			<x-title>
				Cancellation completed
			</x-title>

			<x-p>
				Hello
			</x-p>
			
			<x-p>
				A cancellation was completed in the Pronovo SGS system. Log in to the system to view the cancellation statement:
			</x-p>

			<x-button href="https://www.pronovo.ch/SGS/reports/cancellations/1234-1234-1234-1234-1234-1234">
				View cancellation statement
			</x-button>

			<x-p>
				Best regard<br>
				Pronovo AG
			</x-p>

		</x-content>
		<x-keyvisual imgsrc="images/pronovo-keyvisual-2.png" />
		<x-footer  type="manageable"/>
	</x-container>
</x-main>