---
title: "Anfrage automatischer Webzugang (#150493) "
preheader: "Milada Mehinovic hat Ihnen eine Aktivität zugewiesen."
---

<x-main>
	<x-container>
		<x-header />
		<x-content>

			<x-title>
				Anfrage automatischer Webzugang (#150493) 
			</x-title>

			<x-p>
				Lieber Emanuel 
			</x-p>
			
			<x-p>
				Es geht um die Anfrage zu API. Darf ich Sie bitten, dem Kunden eine Antwort auf seine Frage zu geben? 
			</x-p>

			<x-button href="#">
				Ticket ansehen
			</x-button>

			<x-p>
				Danke und Gruss <br>
				Milada
			</x-p>

		</x-content>
		<x-footer />
	</x-container>
</x-main>