---
title: "Nachforderung nicht lastganggemessene Energiedaten EXAMPLE_ABC"
preheader: "Unvollständige Datensätze identifiziert."
---

<x-main>
	<x-container>
		<x-header />
		<x-content>

			<x-title>
				Nachforderung nicht lastganggemessene Energiedaten EXAMPLE_ABC
			</x-title>

			<x-p>
				Sehr geehrte Damen und Herren
			</x-p>

			<x-p>
				Bei der Überprüfung auf vollständige Energiedaten haben wir unvollständige Datensätze in dem von Ihnen
				betreuten Netzgebiet identifiziert. Die unvollständigen Datensätze können Sie dem Mailanhang entnehmen.
				Wir bitten Sie diese zu überprüfen und uns die fehlenden Energiedaten zukommen zu lassen.
			</x-p>

			<x-list>
				<x-listitem><x-link link="#">Datensätze-2023-01-01.pdf</x-link></x-listitem>
			</x-list>

			<x-p>Für Fragen stehen wir Ihnen gerne zur Verfügung. Vielen Dank für Ihre Unterstützung.</x-p>

			<x-p>
				Freundliche Grüsse<br>
				Pronovo AG
			</x-p>

		</x-content>
		<x-keyvisual imgsrc="images/pronovo-keyvisual-3.png" />
		<x-footer  type="manageable"/>
	</x-container>
</x-main>