---
title: "Ablehnung Energiedaten Herkunftsnachweise"
preheader: "Unvollständige Datensätze identifiziert."
---

<x-main>
	<x-container>
		<x-header />
		<x-content>

			<x-title>Ablehnung Energiedaten Herkunftsnachweise</x-title>

			<x-p>Sehr geehrte Damen und Herren</x-p>
			<x-p>Sie haben uns Energiedaten für die automatisierte Erfassung von Herkunftsnachweisen gesendet. Unter den
				eingegangenen Energiedaten befinden sich auch Datensätze zu Messpunkten, welche in unserem System nicht
				registriert sind oder für die kein automatischer Datenversand vorgesehen ist. Fehler dieser Kategorie
				werden mit dem Fehlercode «Meteringpoint not existing» ausgewiesen. Energiedaten, mit einer von der
				Anmeldung abweichenden Periodizität, werden mit dem Fehlercode «Recordingpoint data outside periodicity»
				klassifiziert.
			</x-p>

			<x-button href="#">
				Energiedaten erfassen
			</x-button>

			<x-p>
				Für weitere Fragen in dieser Angelegenheit, geben Sie bitte die Referenznummer an. Wir möchten uns
				ständig verbessern. Helfen Sie uns dabei, indem Sie Ihr Feedback mit uns teilen:
			</x-p>



			<x-divider space-y="32px" />

			<x-p>
				Für Fragen stehen wir Ihnen gerne zur Verfügung. Vielen Dank für Ihre Unterstützung.
			</x-p>

			<x-p>
				Freundliche Grüsse<br>
				Pronovo AG
			</x-p>

		</x-content>
		<x-keyvisual imgsrc="images/pronovo-keyvisual-3.png" />
		<x-footer  type="manageable"/>
	</x-container>
</x-main>