---
title: "Unvollständige Energiedaten 00A-9999999999n"
preheader: "Unvollständige Datensätze identifiziert."
---

<x-main>
	<x-container>
		<x-header />
		<x-content>
			
			<x-title>Unvollständige Energiedaten 00A-9999999999n</x-title>

			<x-p>
				Sehr geehrte Damen und Herren
			</x-p>
			<x-p>
				Bei der Überprüfung auf vollständige Energiedaten haben wir unvollständige Datensätze in dem von Ihnen
				betreuten Netzgebiet identifiziert. Die unvollständigen Datensätze können Sie dem Mailanhang entnehmen.
				Wir bitten Sie diese zu überprüfen und uns die fehlenden Energiedaten zukommen zu lassen.
			</x-p>

			<x-p>
				Die Energiedaten zu untenstehenden Messpunkten fallen in eine der beiden Fehlerkategorien und können
				nicht verarbeitet werden. Um einen Datenaustausch zu ermöglichen, bitten wir Sie die nachstehenden
				Messpunkte auf eine korrekte Erfassung zu überprüfen. Korrigierte Datensätze können Sie uns ohne weitere
				Rückmeldung neu zustellen.
			</x-p>

			<x-list>
				<x-listitem><x-link link="#">Datensätze-2023-01-01.pdf</x-link></x-listitem>
			</x-list>

			<x-p>
				Für Fragen stehen wir Ihnen gerne zur Verfügung. Vielen Dank für Ihre Unterstützung.
			</x-p>

			<x-p>
				Freundliche Grüsse<br>
				Pronovo AG
			</x-p>

		</x-content>
		<x-keyvisual imgsrc="images/pronovo-keyvisual-2.png" />
		<x-footer  type="manageable"/>
	</x-container>
</x-main>
