<table class="px-12 py-9 sm:p-6 w-full bg-slate-1000">
	<tr>
		<td class="text-left text-white text-xs leading-normal">
			<p>Pronovo AG, Dammstrasse 3, CH–5070 Frick, <br>
				<a href="tel:+41848014014"
					class="text-white [text-decoration:none] hover:![text-decoration:underline] mr-2">+41 848 014 014,</a>
				<a href="https://www.pronovo.ch"
					class="text-white [text-decoration:none] hover:![text-decoration:underline] mr-2">www.pronovo.ch</a>
			</p>
			<x-spacer class="leading-16" />
			<p class="text-sm text-slate-400">Diese Nachricht wurde vom Pronovo Kundenportal gesendet</p>
			<p class="text-sm text-slate-400"><a href="#"
					class="text-slate-400 [text-decoration:none] hover:![text-decoration:underline] mr-2">Benachrichtigungen
					verwalten</a><a href="#"
					class="text-slate-400 [text-decoration:none] hover:![text-decoration:underline] mr-2">Abbestellen</a>
			</p>
		</td>
	</tr>
</table>